- title "#{@project.name} Project Settings", false

= render :partial => 'projects/nav'
= render :partial => 'form'
= render :partial => 'members'

%p
  = link_to "Return to project", project_path(@project)