
= f.error_messages
%p
  = f.label :title
  %br
  = f.text_field :title
%p
  = f.label :story_type
  %br
  = f.select(:story_type, Story.story_type_array)
%p
  = f.label :estimate
  %br
  = f.text_field :estimate
%p
  = f.label :requested_by_id
  %br
  = f.collection_select(:requested_by_id, @project.project_members, :id, :login, { :selected => (@story.requested_by_id || current_user.id), :include_blank => true})
%p
  = f.label :owned_by_id
  %br
  = f.collection_select(:owned_by_id, @project.project_members, :id, :login, { :include_blank => true })
%p
  = f.label :description
  %br
  = f.text_area :description

- unless @story.new_record?
  %p
    %strong ID:
    %br
    = @story.id

%p
  = f.submit
