
- stories = @stories.nil? ? @project.stories : @stories

- unless stories.empty?
  %ul{ :id => 'story-list' }
    - for story in stories
      %li{ :id => "stories_#{story.id}", :class => 'ui-state-default' }
        %small= story.id
        %b=link_to(story.title, project_story_path(@project, story))
        %br
        ="Story type: #{story.story_type}"
        %br
        - unless story.estimate.blank?
          ="Estimate: #{story.estimate}"
          %br
        - unless story.owned_by.nil?
          = story.owned_by.login
        %br{ :clear => 'all' }
        #story-actions
          - if story.workable_by?(current_user)
            = render :partial => 'stories/workit', :locals => { :story => story }
          - else
            &nbsp;
          - if story.editable_by?(current_user)
            %b= link_to 'Edit', edit_project_story_path(@project, story)
          - else
            &nbsp;
          - if story.destructible_by?(current_user)
            %b= link_to 'Destroy', project_story_path(@project, story), :confirm => 'Are you sure?', :method => :delete
          - else
            &nbsp;

:javascript
  $("#story-list").sortable({
    update: function(event, ui) {
      $.ajax({
        type: 'put',
        data: $('#story-list').sortable('serialize'),
        complete: function(request){
          $('#story-list').effect('highlight');
        },
        url: "#{reorder_project_stories_path(@project)}"
      })
    }
  });

  $("#story-list").disableSelection();
