
- stories = @stories.nil? ? @project.stories : @stories

- unless stories.empty?

  %table
    %tr
      %th ID
      %th Title
      %th Story type
      %th Estimate
      %th Requested by
      %th Owned by
      %th Description
    - for story in stories
      %tr
        %td= story.id
        %td= story.title
        %td= story.story_type
        %td= story.estimate
        %td= story.requested_by.login
        %td= story.owned_by.login unless story.owned_by.nil?
        %td= story.description
        %td= link_to 'Show', project_story_path(@project, story)
        %td= link_to 'Edit', edit_project_story_path(@project, story)
        %td= link_to 'Destroy', project_story_path(@project, story), :confirm => 'Are you sure?', :method => :delete

