<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "jquery-ui-1.8.10.custom" %>

    <%= stylesheet_link_tag 'blueprint/screen.css', :type => "text/css", :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print.css', :type => "text/css", :media => "print" %>
    <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->


    <%= javascript_include_tag 'jquery-1.4.4.min' %>
    <%= javascript_include_tag 'jquery-ui-1.8.10.custom.min' %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="main" class="container">
      <div id="header" class="span-5">
        <h1><a href="/">project-fu</a></h1>
      </div>

      <div id="ajax-error" class="span-8">&nbsp;</div>

      <div id="user_nav" class="prepend-1 span-8 last">
        <% if current_user %>
          Signed in as <%= current_user.login %>.
          <%= link_to "Sign out", logout_path %>
        <% else %>
          <%= link_to "Sign up", new_user_path %> or
          <%= link_to "Sign in", login_path %>
        <% end %>
      </div>

      <div id="title" class="span-24 last">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h3, yield(:title) if show_title? %>
      </div>

      <div id="content" class="span-24 last">
        <%= yield %>
      </div>
      
    </div>
  </body>
</html>
